<template>
  <v-flex sm3 xs3 md2 lg3 class="my-3 my-1" style="position:relative" :class="{'flipped' : active,'opacity' : opacity}" @click="clickCardHandler">
    <div class="front">
      <img :height="cardsize" :width="cardsize" :src="require(`../assets/${card.img}`)" alt="front"/>
    </div>
     <div class="back">
    <img :height="cardsize" :width="cardsize" src="../assets/back.png" alt="back"/>
     </div>
  </v-flex>
</template>
<script>
export default {
  name: 'card',
  props: ['card','active',"opacity"],
  computed: {
      cardsize () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs': return 65
          case 'sm': return 100
          case 'md': return 120
          case 'lg': return 160
          case 'xl': return 200
        }
      },
    },
  methods : {
    clickCardHandler(){
      if(!this.active){
        this.$emit('click', this.card);
      }
    }
  }
};
</script>
