<template>
  <div class="popup-main-conainer">
      <div class="popup-content-conainer">
        <h1 class="blue--text pt-1 mt-1">Result</h1>
        <v-divider></v-divider>
        <v-layout row>
          <v-flex justify-center>
          <p class="text-center mt-3">Completed in {{ turns }} turns!</p>
          <p class="text-center">Time: {{ time }}</p>
          <v-btn small @click="$emit('click')" class="blue white--text text-center">Play Again</v-btn>
        </v-flex>
        </v-layout>
      </div>
  </div>
</template>
<script>
export default {
  name : 'modal',
  props : ['turns',"time"],
}
</script>
