<template>
  <v-app>
    <v-toolbar app border="bottom" color="blue darken-1" dark>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-bold">Memory</span>
        <span class="yellow--text">Game</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
       <span class="mr-2 title">Player:</span>
       <span class="mr-2 yellow--text title">Oday Alkouz</span>
    </v-toolbar>
    <v-content class="light-blue lighten-5">
      <v-container>
        <v-layout text-xs-center wrap no-gutters>
          <Card
            v-for="card in cards"
            :key="card.id"
            :card="card"
            @click="handleCardClick"
            :active="firstPick === card || secondPick === card || card.matched"
            :opacity="card.matched"
            />
        </v-layout>
          <Modal class="mr-3" v-show="done" :time="time" :turns="turns" @click="resetTheGame"/>
      </v-container>
      <v-footer text-center app class="white--text " color="blue darken-1">
        <span text-center class="ml-4 font-weight-bold">Turns: </span><span class="yellow--text ml-2 font-weight-bold">{{ turns }}</span>
        <span text-center class="ml-4 font-weight-bold">Time: </span><span class="yellow--text ml-2 font-weight-bold">{{ time }}</span>
        <v-spacer></v-spacer>
      </v-footer>
    </v-content>
  </v-app>
</template>
<script>
import Card from "./components/Card.vue";
import Modal from "./components/Modal.vue";
export default {
  components: { Card, Modal},
  data() {
    return {
      images: [
        { img: "1.jpg" },
        { img: "2.jpg" },
        { img: "3.jpg" },
        { img: "4.jpg" },
        { img: "5.jpg" },
        { img: "6.jpg" },
      ],
      cards: [],
      firstPick: null,
      secondPick: null,
      started: false,
      done: false,
      turns: 0,
      startTime: 0,
      timer: null,
      time: "--:--"
    };
  },
  methods: {
    
    handleCardClick(card) {
      if (!this.started) {
				  this.startTimer();
			}
      this.firstPick ? (this.secondPick = card) : (this.firstPick = card);
      if (this.firstPick && this.secondPick) {
        if (this.firstPick.img === this.secondPick.img) {
          const ind1 = this.cards.indexOf(card);
          const ind2 = this.cards.indexOf(this.firstPick);
          this.cards[ind1].matched = true;
          this.cards[ind2].matched = true;

          this.resetActiveCard();
          console.log("matched")
        } else {
          this.resetActiveCard();
          console.log("not matched")
        }
        this.turns++;
      }
      this.checkIfCompleted();
    },
    startTimer() {
      this.started = true;
      this.startTime = moment();
      this.timer = setInterval(() => {
      this.time = moment(moment().diff(this.startTime)).format("mm:ss");
      }, 1000);
    },  
    resetActiveCard() {
      setTimeout(() => {
        this.firstPick = null;
        this.secondPick = null;
      }, 500);
    },
    checkIfCompleted(){
      if(this.cards.every(card => card.matched)) {
        setTimeout(() => {
          this.done = true
        }, 1000);
        this.started=false;
        clearInterval(this.timer);
      };
    },
    shuffleArray() {
      this.cards.sort(() => Math.random() - 0.5);
    },
    resetTheGame(){
      this.time= "--:--",
      this.started=false;
      this.firstPick = null;
      this.secondPick = null;
      this.turns = 0;
      this.done = false;
      this.cards.forEach(v => v.matched = false);
      setTimeout(() => {
        this.shuffleArray();
      }, 500);
    }
  },
  mounted() {
    this.images.sort(() => Math.random() - 0.5);
    this.cards = [...this.images, ...this.images].map(
      (card, index) => ({
        ...card,
        matched: false,
        id: index,
      }),
    );
  },
};
</script>

