.front {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.front img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.flipped .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  cursor: default;
}

.flipped .back {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.back {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.back img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  overflow: hidden;
}

.popup-main-conainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4;
}

.popup-main-conainer .popup-content-conainer {
  background: #fff;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  padding: 0 20px 20px 20px;
}

.opacity {
  opacity: 0.6;
  -webkit-transition: all ease-in 0.6s;
  transition: all ease-in 0.6s;
}
/*# sourceMappingURL=game.css.map */